@model WasifProject.Models.Admin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Admin</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.userName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.C_passWord)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.C_passWord)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
