@model WasifProject.Models.FileData

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

@using (Html.BeginForm("UploadAndRevify", "File", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
{
 @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <table style="background-color:palegreen;">
        <tr>
            <td>
                <div class="editor-label">
                @Html.LabelFor(model => model.fileName)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.fileName)
                    @Html.ValidationMessageFor(model => model.fileName)
                </div>

            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                 @Html.LabelFor(model => model.type)
                 
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.type)
                    @Html.ValidationMessageFor(model => model.type)
               </div>   
            </td>
        </tr>
        <tr>
            <td>upload: </td>
            <td><input type="radio" name="public" value="public" checked="true">public  <input type="radio" name="public" value="private">Private</td>
           
         </tr>
        <tr>
            <td>
                <div class="editor-label">
                 Select file:
                </div>
            </td>
            <td>
                <input type="file" name="file" id="file1">
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="upload Now"></td>
        </tr>
    </table>    
}
    




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
