@model WasifProject.Models.UserTable

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserTable</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.userName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.userName)
            @Html.ValidationMessageFor(model => model.userName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.passwork)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.passwork)
            @Html.ValidationMessageFor(model => model.passwork)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PasswordConfirm)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PasswordConfirm)
            @Html.ValidationMessageFor(model => model.PasswordConfirm)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.e_mail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.e_mail)
            @Html.ValidationMessageFor(model => model.e_mail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.reg_date)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.reg_date)
            @Html.HiddenFor(model => model.reg_date)
            
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    <a href="~/User/Index"><img src="~/Images/prettyPhoto/facebook/btnPrevious.png"></a>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
