@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2>Account</h2>
<table>
    <tr>
        <td>User Name</td>
        <td>@ViewBag.Message</td>
        <td><a href="#">Edit</a></td>
    </tr>
    <tr>
        <td>E-Mail</td>
        <td>@ViewBag.Message</td>
        <td><a href="#">Edit</a></td>
    </tr>
    <tr>
        <td>Institute Name</td>
        <td>@ViewBag.Message</td>
        <td><a href="#">Edit</a></td>
    </tr>
    <tr>
        <td>Space Used</td>
        <td>@ViewBag.Message</td>
        <td><a href="#">Delete</a></td>
    </tr>
    <tr>
        <td>Date of Birth</td>
        <td>@ViewBag.Message</td>
        <td><a href="#">Edit</a></td>
    </tr>
    <tr>
        <td>Since Mamber from</td>
        <td>@ViewBag.Message</td>
        <td></td>
    </tr>    
</table>